header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: center;
  justify-content: space-between;
  color: white;
}

form {
  display: flex;
  
}

main {
  border: 3px solid blue;
  display: flex;

}

.family-container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}


#evaluation-form {
  border: 3px solid red;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  border: 3px solid black;
  height: 500px;
  justify-content: flex-end;
  
}

#radio-container {
  display: flex;
  gap: 10px;
}

.textarea {
  display: flex;
  flex-direction: column;
}

#text-area {
  resize: none;
  height: 110px;
}

.image-container {
  display: flex;
}