header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

form {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#radio-container {
  display: flex;
  gap: 10px;
}
